<div class="sign-in-container">
    <div class="sign-in-form">
        <form [formGroup]="formSignIn" (submit)="onSaveForm()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input 
                    matInput
                    type="email"
                    autocomplete="off"
                    placeholder="someone@example.com"
                    formControlName="email"
                    [class.is-valid]="isValidField('email')"
                    [class.is-invalid]="isInvalidField('email')"
                >
                <mat-error *ngIf="isInvalidField('email')">
                    {{getErrorMessage('email')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input 
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    autocomplete="off"
                    formControlName="password"
                    [class.is-valid]="isValidField('password')"
                    [class.is-invalid]="isInvalidField('password')"
                >
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="isInvalidField('password')">
                    {{getErrorMessage('password')}}
                </mat-error>
            </mat-form-field>
            <mat-checkbox color="primary">Recuérdame.</mat-checkbox>
            <button mat-raised-button color="primary" type="submit" class="btn btn-submit" [disabled]="formSignIn.invalid">Iniciar Sesión</button>
        </form>
        <div class="signup-button-container">
            <p>¿Eres nuevo en HomeMovie?</p>
            <button mat-raised-button color="warn" routerLink="/HomeMovie/signup" class="btn">Crea tu cuenta de HomeMovie</button>
        </div>
    </div>
</div>