.sign-in-container {
    max-width: 400px;
    margin: 0px auto;
    padding: 30px 0px;
}

.sign-in-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

mat-form-field {
    width: 100%;
    height: 90px;
}

.signup-button-container {
    color: #212529;
    margin-top: 40px;
    text-align: center;
}

.btn {
    width: 100%;
}

.btn-submit {
    margin-top: 20px;
}