.card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    padding-top: 134%;
    border-radius: 5px;
    background-color: transparent;
}

.card-hover:hover {
    box-shadow: 0px 0px 7px 1px #fff;
    cursor: pointer;
}

.card-image-overlay {
    width: 100%;
    height: 100%; /*auto*/    
    position: absolute;
    top: 0;
    margin: 0 !important;
    opacity: 0.6;
}

.card-content {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    margin: 0;
    padding: 100% 15px 20px;
    color: #fff;
}

.card-content > h3 {
    font-size: 18px;
    font-weight: 300;
    max-height: 55px;
    line-height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-content > p {
    font-size: 17px;
    color: #b0b4b9;
    margin-bottom: 5px;
}

.card-content > span {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    color: #bbb;
}

.options {
    width: 100%;
    height: 22px;
    position: absolute;
    top: 0;
    z-index: 100;
}

.option {
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-option {
    background-color: #0d6efd;
}

.rent-option {
    background-color: #6c757d;
}

.buy-option > p, .rent-option > p {
    font-size: 12px;
    margin-bottom: 0;
    color: #fff;
}

.no-available, .commingsoon {
    width: 100%;
    height: 22px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-available {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.commingsoon {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.no-available > p, .commingsoon > p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .card-content > h3 {
        font-size: 22px;
        line-height: 30px;
    }
    
    .card-content > span {
        font-size: 17px;
    }

    .rent-option {
        margin-left: 4px;
    }

    .no-available, .commingsoon {
        height: 28px;
    }
    
    .no-available > p, .commingsoon > p {
        font-size: 17px;
    }
}
