.orders-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personal-data {
    width: 400px;
    height: 120px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    padding: 15px;
}

mat-divider {
    margin-bottom: 20px;
}

.text-bold {
    font-weight: bold;
    margin-bottom: 0px;
}

.text-title {
    font-weight: bold;
}

.text-subtitle {
    font-weight: normal;
    font-style: italic;
}

.orders-table {
    width: 900px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.total-price {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding-right: 24px;
}
