.form-update {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}

form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-save {
    position: absolute;
    bottom: 5%;
    width: 150px;
}