<mat-toolbar class="navbar">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxFlex fxLayoutAlign="start">
        <a class="logo-container" routerLink="/HomeMovie/movies">
            <img class="logo-image" src="../../../assets/images/logo/Logo-White.png" alt="">
            <p class="logo-name">HomeMovie</p>
        </a>
    </div>

    <div fxFlex fxLayoutAlign="end" fxHide.xs>
        <button mat-button routerLink="/HomeMovie/movies">
            Películas
        </button>
        <app-cart-widget></app-cart-widget>
        <ng-container *ngIf="!user">
            <button class="btn-signin" mat-raised-button color="primary" routerLink="/HomeMovie/signin">
                Iniciar Sesión
            </button>
            <button class="btn-signup" mat-raised-button color="warn" routerLink="/HomeMovie/signup">
                Registrarse
            </button>
        </ng-container>
        <ng-container *ngIf="user">
                <button mat-mini-fab color="accent" [matMenuTriggerFor]="menu" class="btn-user"> 
                    <mat-icon>emoji_emotions</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item disabled>
                        <mat-icon>person</mat-icon> {{user.name}}
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item routerLink="/HomeMovie/myorders">
                        <mat-icon>shopping_basket</mat-icon>
                        <span>Mis pedidos</span>
                    </button>
                    <button mat-menu-item (click)="logOut()">
                        <mat-icon>lock_open</mat-icon>
                        <span>Cerrar sesión</span>
                    </button>
                </mat-menu>
        </ng-container>
    </div>

    <app-cart-widget fxHide.gt-xs></app-cart-widget>
</mat-toolbar>