<button mat-raised-button routerLink="/admin/movies">
    <mat-icon>arrow_back</mat-icon> Regresar
</button>

<h1>Completar los datos:</h1>

<div class="form-add">
    <form [formGroup]="formAddMovie" (submit)="saveMovie()">
        <button [disabled]="formAddMovie.invalid" class="btn-save" type="submit" mat-raised-button color="primary" >
            Guardar
        </button>
        <div class="main-data">
            <mat-form-field appearance="fill">
                <mat-label>ID</mat-label>
                <input type="text" formControlName="id" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input type="text" formControlName="title" matInput>
            </mat-form-field>
        </div>
        <div class="boolean-data">
            <mat-checkbox formControlName="purchaseavailable">Purchase available</mat-checkbox>
        
            <mat-checkbox formControlName="rentalavailable">Rental available</mat-checkbox>
            
            <mat-checkbox formControlName="commingsoon">Comming Soon</mat-checkbox>
        </div>

        <div class="number-data">
            <mat-form-field appearance="fill">
                <mat-label>Purchase Price</mat-label>
                <input type="number" formControlName="purchaseprice" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Rental Price</mat-label>
                <input type="number" formControlName="rentalprice" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Year</mat-label>
                <input type="number" formControlName="year" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Runtime</mat-label>
                <input type="number" formControlName="runtime" matInput>
            </mat-form-field>
        </div>

        <div class="textarea-data">
            <mat-form-field appearance="fill">
                <mat-label>Plot</mat-label>
                <textarea formControlName="plot" matInput></textarea>
            </mat-form-field>
        </div>

        <div class="string-data">
            <mat-form-field appearance="fill">
                <mat-label>Rated</mat-label>
                <input type="text" formControlName="rated" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Released</mat-label>
                <input type="text" formControlName="released" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Genre</mat-label>
                <input type="text" formControlName="genre" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Director</mat-label>
                <input type="text" formControlName="director" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Writer</mat-label>
                <input type="text" formControlName="writer" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Actors</mat-label>
                <input type="text" formControlName="actors" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Language</mat-label>
                <input type="text" formControlName="language" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Country</mat-label>
                <input type="text" formControlName="country" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Awards</mat-label>
                <input type="text" formControlName="awards" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Card Image</mat-label>
                <input type="text" formControlName="cardimg" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Poster Image</mat-label>
                <input type="text" formControlName="posterimg" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Banner Image</mat-label>
                <input type="text" formControlName="bannerimg" matInput>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>URL Trailer</mat-label>
                <input type="text" formControlName="urltrailer" matInput>
            </mat-form-field>
        </div>
    </form>
</div>