.cart-empty {
    text-align: center;
    padding-top: 50px;
    color: #fff;
}
 
.cart-empty-text {
    margin-bottom: 30px;
    font-size: 40px;
}
 
mat-icon {
    font-size: 140px;
    margin-right: 100px;
}
 
.link-to-movies {
    margin-top: 10px;
    font-size: 20px;
}