<mat-nav-list>
    <a mat-list-item class="nav-caption" (click)="onSidenavClose()">
        <mat-icon>close</mat-icon>
    </a>
    <a mat-list-item class="nav-caption" routerLink="/HomeMovie/movies" (click)="onSidenavClose()">
        <mat-icon>theaters</mat-icon> <span class="nav-caption-text">Peliculas</span>
    </a>

    <ng-container  *ngIf="!user">
        <a mat-list-item routerLink="/HomeMovie/signin" (click)="onSidenavClose()">
            <button mat-raised-button color="primary">Iniciar Sesión</button>
        </a>
        <a mat-list-item routerLink="/HomeMovie/signup" (click)="onSidenavClose()">
            <button mat-raised-button color="warn">Registrarse</button>
        </a>
    </ng-container>

    <ng-container *ngIf="user">
        <mat-list-item class="nav-caption" [matMenuTriggerFor]="menu">
            <mat-icon>emoji_emotions</mat-icon> <span class="nav-caption-text"> Mi perfil <mat-icon>expand_more</mat-icon></span>
        </mat-list-item>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
                <mat-icon>person</mat-icon> {{user.name}}
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item routerLink="/HomeMovie/myorders" (click)="onSidenavClose()">
                <mat-icon>shopping_basket</mat-icon>
                <span>Mis pedidos</span>
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>lock_open</mat-icon>
                <span>Cerrar sesión</span>
            </button>
        </mat-menu>
    </ng-container>
</mat-nav-list>